#shortcutsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#shortcutsWindowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shortcutsWindow {
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    position: relative;
}

#shortcutsWindow h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

#shortcutsWindow p {
    margin: 10px 0;
    color: white;
    font-size: 14px;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: red;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeButton:hover {
    color: #960000;
}
